// =============================================================================
// Mixins
// =============================================================================
@mixin glass-effect {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    backdrop-filter: blur(10px);
    box-shadow:
            inset 2px 2px 1px 0 rgba(255, 255, 255, 0.2),       // top-left
            inset -2px -2px 2px 1px rgba(255, 255, 255, 0.2),   // bottom-right
            0 4px 8px 0 rgba(0, 0, 0, 0.05),                    // outer dark
            0 6px 20px 0 rgba(255, 255, 255, 0.2);              // outer light
}

@mixin round-button {
    @include glass-effect;
    border-radius: 50%;
    box-shadow: none;
    width: 50px;
    height: 50px;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

    transition: all 0.2s ease;

    &:hover {
        background: rgba(255, 255, 255, 0.4);
    }
}

@mixin glass-effect-new {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    z-index: 10;
    color: var(--text-color);
}