@use "_root";

#basket-panel {
    display: none;
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    backdrop-filter: blur(20px);
    z-index: 1000;

    h1 {
        color: var(--text-color);
        padding: 0;
        margin: 0;
    }

    #close {
        @include root.round-button;
        //width: 50px;
        //height: 50px;
        //font-size: 20px;
    }

    #heading {
        display: flex;
        padding: 1rem;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
    }
}

#basket-items {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    padding-bottom: 82px;
    height: 100%;
    gap: 0.5rem;
}

.basket-item {
    width: 90%;
    height: 16rem;
    display: flex;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    border-radius: 2rem;
    overflow: clip;

    img {
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .name {
        @include root.glass-effect-new;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.5);

        h3 {
            margin: 0;
        }
    }

    .controls {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: 0.2s;

        &:hover {
            opacity: 1;
        }

        .delete {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }

        .count {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            display: flex;
            flex-direction: row;
            gap: 0.25rem;

            input[type="number"] {
                @include root.round-button;
                width: 4rem;
                height: 2rem;
                text-align: center;
                appearance: textfield;
                font-size: 1rem;
                border-radius: 2rem;
            }
        }
    }
}

.small-round-button {
    @include root.round-button;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

#products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-card {
    @include root.glass-effect-new;
    width: 20rem;
    height: 25rem;
    overflow: hidden;

    img {
        width: 100%;
        height: 70%;
        border-radius: 2rem;
    }

    h3, p {
        padding-left: 1rem;
    }

    p {
        margin: 0;
    }

    h3 {
        margin-bottom: 0.5rem;
    }

    .add {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}