<header class="header">
    <div class="header-container">
        <a href="index.html" class="logo">
            <span class="logo-text">Шоколадная<span class="logo-highlight">Фабрика</span></span>
        </a>

        <nav>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="index.html" class="nav-link">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="history.html" class="nav-link">Наша история</a>
                </li>
                <li class="nav-item">
                    <a href="facts.html" class="nav-link">Факты</a>
                </li>
                <li class="nav-item">
                    <a href="shop.html" class="nav-link">Продукция</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link">Контакты</a>
                </li>
            </ul>
        </nav>

        <div class="burger">
            <div class="burger-line"></div>
            <div class="burger-line"></div>
            <div class="burger-line"></div>
        </div>
    </div>
</header>