#basket-button {
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    z-index: 99;
}

#basket-panel {
  display: none;
  width: 30rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(20px);
  z-index: 1000;
}
#basket-panel h1 {
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
#basket-panel #close {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.2), inset -2px -2px 2px 1px rgba(255, 255, 255, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: none;
  width: 50px;
  height: 50px;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: all 0.2s ease;
}
#basket-panel #close:hover {
  background: rgba(255, 255, 255, 0.4);
}
#basket-panel #heading {
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

#basket-items {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  padding-bottom: 82px;
  height: 100%;
  gap: 0.5rem;
}

.basket-item {
  width: 90%;
  height: 16rem;
  display: flex;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
  border-radius: 2rem;
  overflow: clip;
}
.basket-item img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.basket-item .name {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  z-index: 10;
  color: var(--text-color);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.5);
}
.basket-item .name h3 {
  margin: 0;
}
.basket-item .controls {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.2s;
}
.basket-item .controls:hover {
  opacity: 1;
}
.basket-item .controls .delete {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.basket-item .controls .count {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.basket-item .controls .count input[type=number] {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.2), inset -2px -2px 2px 1px rgba(255, 255, 255, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: none;
  width: 50px;
  height: 50px;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: all 0.2s ease;
  width: 4rem;
  height: 2rem;
  text-align: center;
  appearance: textfield;
  font-size: 1rem;
  border-radius: 2rem;
}
.basket-item .controls .count input[type=number]:hover {
  background: rgba(255, 255, 255, 0.4);
}

.small-round-button {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.2), inset -2px -2px 2px 1px rgba(255, 255, 255, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: none;
  width: 50px;
  height: 50px;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: all 0.2s ease;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}
.small-round-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

#products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-card {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  z-index: 10;
  color: var(--text-color);
  width: 20rem;
  height: 25rem;
  overflow: hidden;
}
.product-card img {
  width: 100%;
  height: 70%;
  border-radius: 2rem;
}
.product-card h3, .product-card p {
  padding-left: 1rem;
}
.product-card p {
  margin: 0;
}
.product-card h3 {
  margin-bottom: 0.5rem;
}
.product-card .add {
  position: absolute;
  top: 1rem;
  right: 1rem;
}