/********************************************************************/
/*                              ТЕМЫ                                */
/********************************************************************/
/* Светлая тема */
html {
    --c1: #eecdab;              /* Фон */
    /*--c1: #e0be9b;              /* Фон */
    --c2: #f1d4af;              /* Фон */
    --text-color: #401010;      /* Цвет текста */
    --bg-primary: #ffffff3b;
    --bg-secondary: #f5f5f5;
    --text-primary: #262626;
    --text-secondary: #000;
    --accent-color: #e6a217;
    --border-color: #e0e0e0;
    --shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    --glass-background: rgba(255, 255, 255, 0.3);
}

/* Темная тема */
html[data-theme="dark"] {
    --c1: #151515;              /* Фон */
    --c2: #1a1a1a;              /* Фон */
    --text-color: #ffffff;      /* Цвет текста */
    --bg-primary: #1a1a1a50;
    --bg-secondary: #2d2d2d;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --accent-color: #fdbb2d;
    --border-color: #444444;
    --shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    --glass-background: rgba(255, 255, 255, 0.1);
}